<%= turbo_frame_tag "message_content" do %>
  <div data-controller="message">

    <% @messages.each do |message| %>
      <%= turbo_frame_tag message do %>

        <% # 送信メッセージ %>
        <% if message[:from_user_id] == @current_user[:id] %>
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
              <div class="outgoing_msg">
                <p>
                  <% if message[:data]["message"].present? %>
                    <% # メッセージ本文 %>
                    <%= message[:data]["message"] %>
                  <% end %>
                  <% if message.picture.present? %>
                    <% # 添付画像 %>
                    <%= image_tag message.picture.representation(resize_to_limit: [2000, 2000]) %>
                  <% end %>
                  <% if message[:data]["slip_id"].present? && @slips_info[message[:data]["slip_id"]].present? %>
                    <% # 伝票：送信側が基本管理者のハズなので伝票参照のリンクは常に有効にしておく %>
                    対象日時：<%= @slips_info[message[:data]["slip_id"]][:targeted_at].strftime("%m/%d %H:%M") %><br>
                    <%= link_to "伝票を開く", slip_path(@slips_info[message[:data]["slip_id"]]), { class: "btn btn-warning me-3", data: { turbo_frame: "_top" } } %>
                    <% if @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_ASSIGNED %>
                      <button class="btn btn-warning disabled">確認中</button>
                    <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_REJECT %>
                      <button class="btn btn-danger disabled">拒否済</button>
                    <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_ACCEPT %>
                      <button class="btn btn-success disabled">受領済</button>
                    <% elsif @slips_info[message[:data]["slip_id"]][:status].in?([SLIP_STATUS_PICKUP, SLIP_STATUS_DELIVER]) %>
                      <button class="btn btn-primary disabled">運行中</button>
                    <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_COMPLETE %>
                      <button class="btn btn-secondary disabled">完了済</button>
                    <% end %>
                  <% end %>
                </p>
                <span class="time_date_sent"><%= message[:created_at].strftime("%m/%d %H:%M") %></span> 
              </div>
            </div>
          </div>
          

        <% # 受信メッセージ %>
        <% else %>
          <div class="row">
            <div class="col-10">
              <div class="incoming_msg">
                <p>
                  <% if message[:data]["message"].present? %>
                    <% # メッセージ本文 %>
                    <%= message[:data]["message"] %>
                  <% end %>
                  <% if message.picture.present? %>
                    <% # 添付画像 %>
                    <%= image_tag message.picture.representation(resize_to_limit: [2000, 2000]) %>
                  <% end %>
                  <% if message[:data]["slip_id"].present? && @slips_info[message[:data]["slip_id"]].present? %>
                    <% if @slips_info[message[:data]["slip_id"]][:rep_user_id] != @current_user[:id] %>
                      <% # 割り当てたれた担当者が自分ではなくなっているパターン %>
                      <button class="btn btn-info" disabled>担当外</button>
                    <% else %>
                      <% # 伝票：受信者側 %>
                      対象日時：<%= @slips_info[message[:data]["slip_id"]][:targeted_at].strftime("%m/%d %H:%M") %><br>
                      <%= link_to "伝票を開く", slip_path(@slips_info[message[:data]["slip_id"]]), { class: "btn btn-warning me-3", data: { turbo_frame: "_top" } } %>
                      <% if @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_ASSIGNED %>
                        <button class="btn btn-warning disabled">確認中</button>
                      <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_REJECT %>
                        <button type="button" class="btn btn-danger disabled " href="">拒否済</button>
                      <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_ACCEPT %>
                        <button class="btn btn-success disabled " href="">受領済</button>
                      <% elsif @slips_info[message[:data]["slip_id"]][:status].in?([SLIP_STATUS_PICKUP, SLIP_STATUS_DELIVER]) %>
                        <button class="btn btn-primary disabled " href="">運行中</button>
                      <% elsif @slips_info[message[:data]["slip_id"]][:status] == SLIP_STATUS_COMPLETE %>
                        <button class="btn btn-secondary disabled " href="">完了済</button>
                      <% end %>
                    <% end %>
                  <% end %>
                </p>
                <% if @is_all_chat || @is_group_chat %>
                  <span class="time_date_receive"><%= "#{@users[message[:from_user_id]][:name]} : #{message[:created_at].strftime("%m/%d %H:%M")}" %></span>
                <% else %>
                  <span class="time_date_receive"><%= message[:created_at].strftime("%m/%d %H:%M") %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-2">
          </div>
        <% end %>

      <% end %>
    <% end %>
    <%= render partial: "common/flash_message" %>
  </div>
<% end %>
