

<% @group.errors.full_messages.each do |message| %>
  <div class="alert alert-warning"><%= message %></div>
<% end %>

<% url = @group.new_record? ? settings_groups_path : settings_group_path %>
<% return_url = @current_user[:role] == USER_ROLE_ADMIN ? settings_groups_path : settings_lists_path %>

<%= form_with(model: @group, url: url) do |form| %>

  <%= form.label :name, "グループ名" %>
  <div class="mb-3 form-group">
    <%= form.text_field :name, { class: "form-control" } %>
  </div>

  <% # 対象ユーザー一覧 %>
  <%= form.label :name, "所属ユーザー" %>
  <% @users.each do |user| %>
    <ul class="list-group">
      <label class="list-group-item py-2">
        <div class="row">
          <div class="col-2">
            <input class="form-check-input me-1" type="checkbox" name="target_user_ids[]" value=<%= user[:id] %> <%= @target_user_ids.include?(user[:id]) ? "checked" : "" %>>
          </div>
          <div class="col-10">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h6 class="mb-0"><%= user[:name] %></h6>
              </div>
              <div class="mb-0 opacity-75"><%= user[:role] == 1 ? "ユーザー" : "管理者" %></div>
            </div>
          </div>
        </div>
      </label>
    </ul>
  <% end %>
  
  <div class="mt-3">
    <div class="row">
      <div class="col">
        <%= link_to "戻る", return_url, class: "btn btn-secondary w-100" %>
      </div>
      <% unless @group.new_record? %>
        <div class="col">
          <%= link_to "削除", settings_group_path(@group), class: "btn btn-danger w-100", data: { turbo_method: :delete, turbo_confirm: "#{@group[:name]}を削除しますか？" } %>
        </div>
      <% end %>
      <div class="col">
        <%= form.submit "登録", { class: "btn btn-warning w-100 float-end" } %>
      </div>
    </div>
  </div>
  
<% end %>