<div class="content">
  <div class="main-header fixed-top">
    <div class="head_title float-start"> 
      <h4>ユーザー 一覧</h4>
    </div>
  </div>

  <div class="main_content ">

    <div class="d-flex justify-content-end px-1">
      <%= link_to "新規ユーザー登録", new_settings_user_path, class: "btn btn-outline-secondary btn-light text-nowrap my-1 w-50" %>
    </div>

    <!-- アイコン付きリストグループ -->
    <div class="list-group px-1">
      <% @users.each do |user| %>
        <%= link_to edit_settings_user_path(user), class: "list-group-item list-group-item-action d-flex gap-3 py-3" do %>
          <% if user.avatar.representable? %>
            <%= image_tag user.avatar.representation(resize_to_fill: [40, 40]), class: "user_icon" %>
          <% else %>
            <button class="user_icon" type="button"><i class="fas fa-user" aria-hidden="true"></i></button>
          <% end %>
          
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0"><%= user[:name] %></h6>
              <div class="mb-0 opacity-75">
                ID : <%= user[:identifier] %>
                <% if user.authenticated_locked %>
                  <span class="text-danger"><strong>[ロック]</strong></span>
                <% end %>
              </div>
            </div>
            <div class="mb-0 opacity-75"><%= user[:role] == 1 ? "ユーザー" : "管理者" %></div>
          </div>
          
        <% end %>

      <% end %>
    </div>
    <!-- /アイコン付きリストグループ -->

  </div>  

</div>

<%= render partial: "common/footer_menu" %>
<%= render partial: "common/sidebar" %>
<%= render partial: "common/geo" %>
